@model RedefinePasswordModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Redefinir Senha";
}

@if (TempData["MessageErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MessageErro"]
    </div>
}

<div class="container-login">
    <div class="login-box">
        <h1 class="login-title">TechConnect</h1>
        <div class="login-body">
            <form asp-controller="Login" asp-action="LinkRedefinePassword" method="post">
                <div class="mb-3">
                    <label for="Login" class="form-label">Login</label>
                    <input type="text" asp-for="Login" class="form-control" id="Login">
                    @Html.ValidationMessageFor( x => x.Login)
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">E-mail</label>
                    <input type="text" asp-for="Email" class="form-control" id="Email">
                    @Html.ValidationMessageFor( x => x.Email)
                </div>

                <button type="submit" class="btn btn-primary">Redefinir Senha</button>
                <a class="btn btn-voltar-recruter" asp-controller="Login" asp-action="Index">Voltar</a>
            </form>
        </div>
    </div>
</div>
